# Database Configuration
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=

# Django Secret Key
DEBUG=
SECRET_KEY=

# Optional: Allowed hosts for production (comma-separated)
ALLOWED_HOSTS=

# Email настройки
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_USE_SSL=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=
